body{
  background: rgb(240, 240, 240);
  color: rgb(0, 0, 0);
  font-size: 12px;
  font-family: Helvetica;
  padding-left: 60px;
  padding-top: 80px;
  padding-right: 40px;
  margin: 0px;
}
h1{
  font-weight: bold;
  font-size: 14px;
}
.item{
    background: rgb(248, 248, 248);
    border: 3px solid rgba(200, 200, 200, 0.5);
    border-radius: 8px;
    margin: 5px;
    padding: 5px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 80%; */
}

#footer a {
  color: blue;
  font-size: 25px;
}
#footer a:hover {
  color: red;
	font-size: 50px;
}
